@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
    font-family: 'Roboto',
    sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* SCROLLBAR */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-clip: content-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(108, 99, 255, 0.7);
    border-radius: 10px;
}
